<div>
    <h3><%= bookmark.name %></h3>
    <ul>
        <li><%= "Url: #{bookmark.url}" %></li>
        <li><%= "Category: #{bookmark.category.name}" %></li>
        <li><%= "Type: #{bookmark.url_type}" %></li>
    </ul>
</div>